{% extends 'base.html' %}

{% block titulo %}Dashboard de {{user}} | {% endblock %}

{% block conteudo %}

{% include 'parciais/_messages.html' %}

<h2 class="mt-3 mb-3">Olá, {{user}}</h2>
<p>
    <br>
<h4 class="mt-3 mb-3">Cadastro de novo contato na agenda. </h4>
</p>
<div class="container">
    <form action="{%url 'dashboard'%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table">
            {{form}}
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}